.button {
  box-shadow: inset 0 0 0 2px var(--heading);
  color: var(--heading);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10em;
  padding: 1.2em 2.2em;
  font-size: 0.94em;
  font-weight: 600;
  line-height: 120%;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    box-shadow 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
